@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
  
}
/* Стилізація скролбару для браузерів на базі WebKit */
body::-webkit-scrollbar {
    width: 10px; /* Ширина скролбару */
}

body::-webkit-scrollbar-track {
    background: #f4f4f4; /* Колір фону треку скролбару */
}

body::-webkit-scrollbar-thumb {
    background-color: #000000; /* Колір скролбару */
    border-radius: 10px; /* Закруглення скролбару */
    border: 3px solid #f4f4f4; /* Проміжок між скролбаром та треком */
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Колір скролбару при наведенні */
}
section{
    max-width: 1660px;
    margin: 0 auto;  
}
.wrapper {
    background-image: url(/img/what-is-precision-agriculture-2.jpg);
    background-size: cover;
    width: auto;
    height: 1020px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #4440;
    position: relative;
    max-width: 1660px;
    margin: 0 auto;

}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.desktop-menu ul,
.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.desktop-menu ul {
    display: flex;
    gap: 75px;
}

.button__head {
    padding: 22px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #FFF;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.desktop-menu a,
.mobile-menu a {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 5px;
    
}

.button {
    border: 1px solid white;
    border-radius: 25px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;
}

.hamburger span {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 3px 0;
    transition: 0.3s;
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.mobile-menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: #000000;
    padding: 1rem;
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 980px;
    padding-top: 345px;
}

.mobile-menu.open {
    display: flex;
}

.mobile__menu li {
    padding-bottom: 20px;
}
.hero__text_block h1{
    color: #FFF;
font-family: Roboto;
font-size: 90px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 863px;
padding-top: 99px;
padding-bottom: 47px;
}
.hero__text_block h2{
    color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 34px; /* 170% */
width: 540px;
padding-bottom: 40px;
}
.btn__hero{
    padding: 22px 35px;
justify-content: center;
align-items: center;
border-radius: 50px;
background: #FFF;
color: #000;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
}
.btn__icon{
    margin: 0 auto;
    margin-left: 15px;
}
.progress__list{
    display: flex;
    gap: 20px;
}
.progress__list h2{
    color: #FFF;
font-family: Roboto;
font-size: 55px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.progress__list p{
    color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.list__data{
    width: 200px;
    padding-top: 50px;
}
.card {
    border-radius: 25px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: rgba(255, 255, 255, 0.09);
backdrop-filter: blur(10px);
    padding: 20px;
    display: flex;
    align-items: center;
    width: 460px;
    color: white;
    margin-left: 495px;
}
.card img {
    width: 100px;
    height: 100px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-right: 20px;
}
.card-content {
    max-width: 450px;
}
.card-title {
    color: #FFF;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px; /* 114.815% */
    width: 266px;
}
.card-line {
    border: 0;
    border-bottom: 1px solid #8E8E8E;
    margin: 10px 0;
}
.card-text {
    color: #FFF;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: 20px; /* 166.667% */
width: 261px;
}
.advantages__dispaly{
    display: flex;
    gap: 120px;
   margin-top: 190px;
}
.advantages_text_block h2{
    color: #000;
font-family: Roboto;
font-size: 80px;
font-style: normal;
font-weight: 600;
line-height: 100px; /* 125% */
width: 919px;
padding-bottom: 50px;
}
.advantages_text_block p{
    color: #000;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 38px; /* 158.333% */
max-width: 706px;

}
.testimonial-slider {
    position: relative;
    
    background-image: url(/img/soil-compaction-1-2048x1365.jpg);
    border-radius: 25px;
    overflow: hidden;
    width: 694px;
    height: 892px;
    background-position: center;
    background-size: cover;
}

.testimonial-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.testimonial-slide.active {
    opacity: 1;
}

/* .testimonial-content {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 305px;
    height: 299px;
    flex-shrink: 0;
} */
.testimonial-content {
    /* background-color: rgba(0, 0, 0, 0.6); */
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 305px;
    height: 299px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(10px);
}
.ico__testimonial {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    text-align: start;
    padding-top: 65px;
}
.author {
    /* margin-top: 10px; */
    /* font-style: italic; */
    /* font-size: 0.9em; */
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: start;
    padding-top: 21px;
}

.author span {
    display: block;
    color: #FFF;
font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.advantages__section{
    margin-bottom: 190px;
}
.ico__testimonial::before {
    content: "";
    position: fixed;
    right: 220px;
    background: url(img/COMMA.png) no-repeat center center;
    background-size: contain;
    width: 91.5px;
    height: 91.5px;
    top: 5px;
    z-index: -1;
}

.list__data_fo h2{
    color: #000;
font-family: Roboto;
font-size: 27px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.servs__blocks{
    columns: 2;
}
.list__data_fo{
    width: 410px;
}
.list__data_fo p{
    color: #000;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 186.667% */
width: 428px;
}
.list__data_fo img {
    margin: 0 auto;
    position: relative;
    top: 25px;
    padding-left: -5px;
}
.agriculture__flex{
    display: flex;
    gap: 75px;
}

.containers__img__box {
    display: grid;
    grid-template-areas: 
        "box1 box3"
        "box2 box3";
    grid-gap: 10px;
    width: 100%;
    
}

.box {
    background-color: #d3d3d3;
    border-radius: 10px;
}

.box1 {
    grid-area: box1;
    /* height: 400px; */
    background-image: url(/img/soil-compaction-1-2048x1365.jpg);
    background-size: cover;
    width: 550px;
    height: 590.675px;
}

.box2 {
    grid-area: box2;
    background-image: url(/img/what-is-a-rain-garden-2-2048x1365.jpg);
    background-size: cover;
    width: 550px;
    height: 214.791px;
}

.box3 {
    grid-area: box3;
    /* height: 100%; */
    background-image: url(/img/what-is-precision-agriculture-2.jpg);
    background-size: cover;
    width: 350px;
    height: 823px;
}
.agriculture_section{
    margin-bottom: 180px;
}
.agro__info h2 {
    color: #000;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    width: 724px;
}
.agro__info p{
    color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 37px; /* 185% */
}
.service {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    margin-top: 59px;
}
.service:last-child {
    margin-bottom: 0;
}
.service-icon {
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
    font-size: 20px;
    width: 44.269px;
}
.service-text {
    color: #000;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.events__title__block{
display: flex;
gap: 80px;
}
.events__title__block h2{
    color: #000;
font-family: Roboto;
font-size: 75px;
font-style: normal;
font-weight: 600;
line-height: 100px; /* 133.333% */
width: 1005px;
}
.events__title__block p{
    color: #000;
font-family: Roboto;
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: 44px; /* 151.724% */
}
.feature-block h3 {
    color: #000;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 28px;
    margin-left: 85px;
}
.feature-block p{
    color: #000;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 186.667% */
max-width: 380px;
}
.feature-block img{
    position: relative;
    top: 50px;
}
.p__display{
    padding-top: 55px;
}
.p__events_display{
    padding-bottom: 160px;
}
.p__events_display_btn{
    border-radius: 4444px;
background: #000;
color: #FFF;
font-family: Roboto;
font-size: 29px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 44px;
padding-top: 31px;
padding-right: 70px;
padding-bottom: 31px;
text-decoration: none;
}
.events__title__block{
    margin-bottom: 60px;
}

.events {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    max-width: max-content;
    margin: auto;
}

.join__btn{
    border-radius: 3333px;
    background: #FFF;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 55px;
    padding-right: 15px;
    color: #000;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 600;
text-decoration: none;
}
.informed__flex img{
    position: relative;
    top: 28px;
}
.informed__flex{
    text-align: center;
}

.event-card__image-placeholder {
    width: 100%;
    
    background-color: #e0e0e0;
    border-radius: 20px;
    margin-bottom: 20px;
}

.event-card__title {
    color: #000;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px; 
    padding-bottom: 20px;
}

.event-card__description {
    color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 175% */
padding-bottom: 30px;
}

.event-card__link {
    color: var(--green, #386641);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.event-card__link::after {
    content: ' ➔';
    transition: margin-left 0.3s ease;
}

.event-card__link:hover {
    color: #1f6b35;
}

.event-card__link:hover::after {
    margin-left: 5px;
}

/* Specific grid placements for cards */
.event-card--first {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.event-card--second {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}

.event-card--third {
    grid-column: 5 / 7;
    grid-row: 3 / 4;
}

.acknowledged__flex{
    display: flex;
    gap: 100px;
    padding-top: 140px;
    
}
.acknowledged__flex h2{
    color: #000;
font-family: Roboto;
font-size: 65px;
font-style: normal;
font-weight: 600;
line-height: 95px; /* 146.154% */
max-width: 996px;
padding-bottom: 65px;
}
.p__text{
    color: #000;
font-family: Roboto;
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: 44px; /* 151.724% */
max-width: 567px;

}
.acknow__box_one p{
    max-width: 579px;
    color: #000;
font-family: Roboto;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 130px;
}
.awards {
    display: flex;
    gap: 126px;
  }
  .awards__items__img img{
    width: 489px;
height: 735px;
border-radius: 21px;
background: #D9D9D9;
background-size: cover;
  }
  .awards__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 1px solid #ddd;
    padding: 16px 0;
  }
  .awards__items_list{
    max-width: 1100px;
  }

  .awards__info {
    flex-grow: 1;
  }
  
  .awards__title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 1133px;
}
  
  .awards__year {
    color: #000;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 28px;
padding-bottom: 45px;
  }
  
  .awards__icon {
    margin-left: 16px;
  }
  
  .awards__icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
height: 105px;
    background-color: #000;
    border-radius: 50%;
  }
  
  .awards__icon .icon {
    display: inline-block;
    width: 105px;
height: 105px;
    background-image: url('/img/ENTER.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .awards__image-placeholder {
    width: 100%;
    height: 150px;
    background-color: #ccc;
    margin-top: 16px;
  }
  .informed__section{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.55) 100%), #D9D9D9;
   margin-bottom: 116px;
    height: 771px;
    flex-shrink: 0;

  }
  
  .informed__flex h2{
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: 131px; /* 136.458% */
padding-top: 160px;
padding-bottom: 60px;
max-width: 1163px;
margin: 0 auto;

  }
.footer__info{
    display: flex;
    gap: 190px;
}
.footer__menu{
    display: flex;
    gap: 275px;
}
.footer__block p{
    padding-top: 27px;
    max-width: 473px;
    color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 35px; /* 175% */
padding-bottom: 137px;
}
.footer__menu li{
    list-style: none;
    color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 42px;
}
.footer__copy{
    text-align: center;
    padding-bottom: 45px;
    color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}




/* Адаптив */
@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}

@media (max-width: 968px) {
    .events {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }

    .event-card--first,
    .event-card--second,
    .event-card--third {
        grid-column: 1 / 2;
    }
    .progress__list {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    .wrapper {
        background-image: url(/img/what-is-precision-agriculture-2.jpg);
        background-size: cover;
        width: auto;
        height: fit-content;
        background-position: center;
    }
    .card {
        border-radius: 25px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.09);
        backdrop-filter: blur(10px);
        padding: 20px;
        display: flex;
        align-items: center;
        max-width: 460px;
        color: white;
        /* margin-left: 495px; */
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .hero__text_block h1 {
        color: #FFF;
        font-family: Roboto;
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: fit-content;
        padding-top: 99px;
        padding-bottom: 47px;
    }
    .hero__text_block h2 {
        color: #FFF;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
        width: fit-content;
        padding-bottom: 40px;
    }
    .advantages_text_block h2 {
        color: #000;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.2;
        width: 100%;
        padding-bottom: 50px;
        text-align: center;
    }
    .advantages__dispaly {
        display: flex;
        gap: 120px;
        margin-top: 190px;
        flex-wrap: wrap;
    }
    .agriculture__flex {
        display: flex;
        gap: 75px;
        flex-wrap: wrap-reverse;
    }
    .box1 {
        grid-area: box1;
        /* height: 400px; */
        background-image: url(/img/soil-compaction-1-2048x1365.jpg);
        background-size: cover;
        width: auto;
        height: 590.675px;
        background-position: center;
    }
    .box2 {
        grid-area: box2;
        background-image: url(/img/what-is-a-rain-garden-2-2048x1365.jpg);
        background-size: cover;
        width: auto;
        height: 214.791px;
        background-position: center;
    }
    .box3 {
        grid-area: box3;
        /* height: 100%; */
        background-image: url(/img/what-is-precision-agriculture-2.jpg);
        background-size: cover;
        width: auto;
        height: 823px;
        background-position: center;
    }
    .events__title__block {
        display: flex;
        gap: 80px;
        flex-wrap: wrap;
    }
    .informed__flex img {
        position: relative;
        top: 23px;
        width: 65px;
    }
    .join__btn {
        border-radius: 3333px;
        background: #FFF;
        padding-top: 22px;
        padding-bottom: 22px;
        padding-left: 55px;
        padding-right: 15px;
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        text-decoration: none;
    }
    .agriculture_section {
        margin-bottom: 50px;
    }
    .events__title__block h2 {
        color: #000;
        font-family: Roboto;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
        width: auto;
    }
    .testimonial-slider {
        position: relative;
        background-image: url(/img/soil-compaction-1-2048x1365.jpg);
        border-radius: 25px;
        overflow: hidden;
        width: 100%;
        height: 402px;
        background-position: center;
        background-size: cover;
    }
    .card-title {
        color: #FFF;
        font-family: Roboto;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: 31px;
        width: fit-content;
    }
    .card-text {
        color: #FFF;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px;
        width: fit-content;
    }
    .acknowledged__flex {
        display: flex;
        gap: 100px;
        padding-top: 140px;
        flex-wrap: wrap;
    }
    .awards {
        display: flex;
        gap: 126px;
        flex-wrap: wrap;
    }
    .awards__items__img img {
        width: 100%;
        height: fit-content;
        border-radius: 21px;
        background: #D9D9D9;
        background-size: cover;
        /* padding-bottom: 40px; */
        margin-bottom: 40px;
    }
    .footer__info {
        display: flex;
        gap: 0px;
        flex-wrap: wrap;
    }
    .footer__menu {
        display: flex;
        gap: 45px;
        flex-wrap: wrap;
        /* margin: 0 auto; */
        /* text-align: center; */
    }
    .informed__section {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.55) 100%), #D9D9D9;
        margin-bottom: 116px;
        height: fit-content;
        flex-shrink: 0;
        padding-bottom: 85px;
    }
    .informed__flex h2 {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 46px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        padding-top: 160px;
        padding-bottom: 60px;
        max-width: au;
        margin: 0 auto;
        width: fit-content;
    }
    .service-text {
        color: #000;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .agro__info h2 {
    color: #000;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    width: fit-content;
}
.feature-block img {
    position: relative;
    top: 50px;
    width: 65px;
}
.feature-block h3 {
    color: #000;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 28px;
    margin-left: 75px;
}
.feature-block p {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    max-width: fit-content;
}
.advantages_text_block p {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    max-width: fit-content;
}
.list__data h2{
    font-size: 45px !important;
}
.awards__title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: fit-content;
}
.acknowledged__flex h2 {
    color: #000;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    max-width: fit-content;
    padding-bottom: 65px;
}
.p__events_display_btn {
    border-radius: 4444px;
    background: #000;
    color: #FFF;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 44px;
    padding-top: 21px;
    padding-right: 20px;
    padding-bottom: 21px;
    text-decoration: none;
}
.btn__icon {
    margin: 0 auto;
    margin-left: 15px;
    /* margin-top: 5px; */
    /* padding-top: 5px; */
    position: relative;
    top: 5px;
}
.awards__year {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 18px;
    padding-bottom: 15px;
}
.awards__icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: #000;
    border-radius: 50%;
}
.awards__icon .icon {
    display: inline-block;
    width: 55px;
    height: 55px;
    background-image: url(/img/ENTER.png);
    background-size: contain;
    background-repeat: no-repeat;
}
}
@media (max-width: 768px) {
    section {
        max-width: 100%;
        padding: 0 10px;
    }
}
